<div class="ilc_question_DataMining">
    <!-- BEGIN question_text -->
    <div class="ilc_qtitle_Title">{QUESTIONTEXT}</div>
    <!-- END question_text -->
    <div class="ilc_qanswer_Answer ilc_answers answers ilClearFloat">
        <!-- BEGIN last_upload -->
        <div style="margin-bottom:3px; margin-left:3px;"><span class="subtitle">{TXT_LAST_UPLOAD} <a href="{LAST_UPLOAD_LINK}" download>{LAST_UPLOAD_NAME}</a> {LAST_UPLOAD_INFO}</span></div>
        <!-- END last_upload -->
        <div>{TXT_DESCRIPTION}</div>
    </div>
</div>
